*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.idea/markdown-navigator
.idea/misc.xml
.idea/modules.xml
.idea/caches
.DS_Store
/build
/captures
.externalNativeBuild
/img
app/libs/
library/libs/
app/build
library/build
gradle/